body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background-color: #97aabd;
}

h1 {
    color: #333;
    text-align: left;
}

h2, h3, h4 {
    color: #555;
}

ul, ol {
    margin-left: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.divnombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.divnombre h1 {
    margin: 10px 0 5px 0;
}

.divnombre h3 {
    margin: 0;
}

.divnombre img {
    margin-bottom: 10px;
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

.habilidades {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    color: white;
}

.habilidades h3 {
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.experiencia {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    color: white;
}

.experiencia h3 {
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.Proyectos {
    margin-top: 20px;
}

.Proyectos h3 {
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

p {
    color: #000000;
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
}

.imagenProyecto {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
}

.imagenProyecto:hover {
    transform: scale(1.05);
}

.RedesSociales {
    margin-top: 20px;
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.RedesSociales h3 {
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
}

.botonRedSocial {
    display: block;
    background-color: #72787e;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 10px;
    border-radius: 30px;
}

.botonRedSocial:hover {
    background-color: #383c40;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.FormularioContacto {
    margin-top: 30px;
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.FormularioContacto h3 {
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.FormularioContacto label {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

.FormularioContacto input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
}

